/* Highlight certain rows. */
tr.upgrade {
  background-color: #ffebc5;
}

/* Ensure links like "3" still look like links. */
.custom-modules a {
  text-decoration-skip-ink: none;
  text-underline-offset: .25em;
}
